@import "tailwindcss";

@theme {
  --color-brand: #6366f1;
  --color-brand-primary: #4338CA;
  --color-brand-primary-emphasize: #3730a3;
  --color-disabled: #f5f5f5;
  --color-brand-background: #eef2ff;
  --color-primary: #171717;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}